In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-macosx_10_13_x86_64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /Users/vincentchien/.julia/conda/3/x86_64/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/vincentchien/.julia/conda/3/x86_64/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/vincentchien/.julia/conda/3/x86_64/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/vincentchien/.julia/conda/3/x86_64/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.3.3-cp312-cp312-macosx_10_13_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 16.1 MB/s eta 0:00:00a 0:00:01
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.3.3 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

#### Load Datasets into Pandas DataFrames

In [ ]:
import pandas as pd

df_hotels= pd.read_csv('/Users/vincentchien/Desktop/Data analyst/Portofolio/My own/SQL+Tableau/Hotel_booking/data/hotels.csv')
df_users= pd.read_csv('/Users/vincentchien/Desktop/Data analyst/Portofolio/My own/SQL+Tableau/Hotel_booking/data/users.csv')
df_reviews=pd.read_csv('/Users/vincentchien/Desktop/Data analyst/Portofolio/My own/SQL+Tableau/Hotel_booking/data/reviews.csv')

print(df_hotels.head())
print(df_users.head())
print(df_reviews.head())

   hotel_id         hotel_name      city               country  star_rating  \
0         1    The Azure Tower  New York         United States            5
1         2  The Royal Compass    London        United Kingdom            5
2         3     Latoile Palace     Paris                France            5
3         4       Kyo-to Grand     Tokyo                 Japan            5
4         5   The Golden Oasis     Dubai  United Arab Emirates            5

       lat       lon  cleanliness_base  comfort_base  facilities_base  \
0  40.7580  -73.9855               9.1           8.8              8.9
1  51.5072   -0.1276               9.0           9.2              8.8
2  48.8566    2.3522               8.8           9.4              8.7
3  35.6895  139.6917               9.6           9.0              9.3
4  25.2769   55.2962               9.3           9.5              9.6

   location_base  staff_base  value_for_money_base
0            9.5         8.6                   8.0
1            9.4         9.0                   7.9
2            9.6         9.3                   8.1
3            8.5         9.5                   8.2
4            8.9         9.4                   8.5
   user_id user_gender         country age_group traveller_type   join_date
0        1      Female  United Kingdom     35-44           Solo  2024-09-29
1        2        Male  United Kingdom     25-34           Solo  2023-11-29
2        3      Female          Mexico     25-34         Family  2022-04-03
3        4        Male           India     35-44         Family  2023-12-02
4        5       Other           Japan     25-34           Solo  2021-12-18
   review_id  user_id  hotel_id review_date  score_overall  score_cleanliness  \
0          1     1600         1  2022-10-07            8.7                8.6
1          2      432         4  2020-03-24            9.1               10.0
2          3      186        18  2023-12-18            8.8                9.7
3          4     1403        19  2022-06-22            8.9                9.0
4          5     1723        17  2022-07-02            9.1                8.9

   score_comfort  score_facilities  score_location  score_staff  \
0            8.7               8.5             9.0          8.8
1            9.1               9.0             8.6          9.4
2            8.8               8.3             8.7          8.1
3            8.8               8.5             9.6          9.1
4            9.5               9.3             8.3          9.4

   score_value_for_money                                        review_text
0                    8.7  Practice reduce young our because machine. Rec...
1                    8.6  Test cover traditional black. Process tell Mr ...
2                    8.6  Friend million student social study yeah. Grow...
3                    8.3  Huge girl already remain truth behind card. Ap...
4                    8.9  Cover feeling call community serve television ...

#### Data Quality Check (Missing & Duplicate Values)

In [24]:
print("Hotels Null Count:\n",df_hotels.isnull().sum())
print("Reviews Null Count:\n",df_reviews.isnull().sum())
print("Users Null Count:\n",df_users.isnull().sum())

Hotels Null Count:
 hotel_id                0
hotel_name              0
city                    0
country                 0
star_rating             0
lat                     0
lon                     0
cleanliness_base        0
comfort_base            0
facilities_base         0
location_base           0
staff_base              0
value_for_money_base    0
dtype: int64
Reviews Null Count:
 review_id                0
user_id                  0
hotel_id                 0
review_date              0
score_overall            0
score_cleanliness        0
score_comfort            0
score_facilities         0
score_location           0
score_staff              0
score_value_for_money    0
review_text              0
dtype: int64
Users Null Count:
 user_id           0
user_gender       0
country           0
age_group         0
traveller_type    0
join_date         0
dtype: int64

In [26]:
print("Hotels Duplicate Count:\n",df_hotels.duplicated().sum())
print("Reviews Duplicate Count:\n",df_reviews.duplicated().sum())
print("Users Duplicate Count:\n",df_users.duplicated().sum())

Hotels Duplicate Count:
 0
Reviews Duplicate Count:
 0
Users Duplicate Count:
 0

#### Descriptive Statistics (Numerical Features Overview)

In [31]:
print("df_hotel:\n",df_hotels.describe())
print("df_review:\n",df_reviews.describe())
print("df_user:\n",df_users.describe())

df_hotel:
         hotel_id  star_rating        lat         lon  cleanliness_base  \
count  25.000000         25.0  25.000000   25.000000         25.000000
mean   13.000000          5.0  20.920591   33.897558          9.092000
std     7.359801          0.0  31.175591   75.044300          0.230796
min     1.000000          5.0 -41.286500  -99.133200          8.700000
25%     7.000000          5.0   6.524400    2.173400          8.900000
50%    13.000000          5.0  31.230400   18.424100          9.100000
75%    19.000000          5.0  41.902800  100.501800          9.300000
max    25.000000          5.0  55.755800  174.776200          9.600000

       comfort_base  facilities_base  location_base  staff_base  \
count     25.000000         25.00000       25.00000    25.00000
mean       9.064000          8.91600        9.27200     9.01600
std        0.237837          0.29109        0.35534     0.24097
min        8.600000          8.50000        8.50000     8.60000
25%        8.900000          8.70000        9.00000     8.80000
50%        9.100000          8.90000        9.30000     9.00000
75%        9.200000          9.10000        9.60000     9.20000
max        9.500000          9.60000        9.80000     9.50000

       value_for_money_base
count             25.000000
mean               8.512000
std                0.265079
min                7.900000
25%                8.400000
50%                8.500000
75%                8.700000
max                8.900000
df_review:
           review_id       user_id      hotel_id  score_overall  \
count  50000.000000  50000.000000  50000.000000   50000.000000
mean   25000.500000   1005.567540     13.051100       8.943460
std    14433.901067    576.711855      7.203808       0.180878
min        1.000000      1.000000      1.000000       8.200000
25%    12500.750000    507.000000      7.000000       8.800000
50%    25000.500000   1010.000000     13.000000       8.900000
75%    37500.250000   1504.000000     19.000000       9.100000
max    50000.000000   2000.000000     25.000000       9.600000

       score_cleanliness  score_comfort  score_facilities  score_location  \
count       50000.000000   50000.000000      50000.000000    50000.000000
mean            9.052558       9.024404          8.743062        9.176410
std             0.504296       0.423927          0.498320        0.421086
min             7.700000       7.900000          7.600000        7.900000
25%             8.700000       8.700000          8.400000        8.900000
50%             9.100000       9.000000          8.700000        9.200000
75%             9.400000       9.300000          9.100000        9.500000
max            10.000000      10.000000         10.000000       10.000000

        score_staff  score_value_for_money
count  50000.000000           50000.000000
mean       8.972076               8.434540
std        0.397775               0.529321
min        7.900000               6.800000
25%        8.700000               8.100000
50%        9.000000               8.500000
75%        9.200000               8.800000
max       10.000000               9.700000
df_user:
            user_id
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000